//GLOBAL VARIABLES
$primary: #212121;
$secondary: #9900CC;

//IMPORT MIXINS
@import "flexbox";

.container{
    margin: 0 auto;
    max-width: 1400px;
    padding-left: 15px;
    padding-right: 15px;
    width: 90%;
}

body{
    font-family: 'Bree Serif', serif;
    margin:0px;
    header{
        width:100%;
        background: $primary;
        position:fixed;
        top:0;
        left:0;
        border:4px solid $secondary;
        height:55px;
        .container{
            height:55px;
            .leftheader,.rightheader{
                    @include flexbox;
                @include align-items(center);
                height:55px;
            }
            .leftheader{
                width:60%;
                float:left;
            }
            .rightheader{
                width:40%;
                float:right;
                @include justify-content(flex-end);
            }
             nav{
                 margin-left:50px;
                 height:100%;
                 a{
                    color:#fff;
                    text-decoration:none;
                     text-transform:uppercase;
                     padding:0px 15px;
                     @include inline-flex;
                     @include align-items(center);
                     height:55px;
                     &:hover,&:active{
                        background-color:#080808;
                     }
                 }
             }
            .phone,.directions{
                margin:0px 8px;
                a{
                    color:#fff;
                    text-decoration:none;
                    &:hover{
                        text-decoration:underline;
                    }
                }
            }
        }
    }
    .heroimage{
        background: url(../images/bannerphotos.jpg);
        background-size:cover;
        border:4px solid $secondary;
        border-top:none;
        margin-top:60px;
        height:calc(100vh - 60px);
            .herooverlay{
                width:100%;
                height:100%;
                background:rgba(11, 11, 11, 0.6);
                .overlaybox{
                    width:65%;
                    margin:0 auto;
                    color:#fff;
                    text-align:center;
                    padding:2%;
                    h2{
                        font-size:45px;
                        margin-top:0px;
                    }
                    h3{
                        font-size:22px;
                    }
                    img{
                        width:60%;
                    }
                 }
            }
    }
    .menu{
        padding:50px 0px;
        .container img{
            width:100%;
        }
    }
    .order{
        background:$primary;
        padding:50px 0px;
        color:#fff;
        text-align:center;
        .flex{
            @include flexbox;
        .form{
                width:40%;
                padding-left: 15px;
                padding-right: 15px;
                form{
                    background:#EEEEEE;
                }
                h3{
                    font-size:29px;
                    margin:0px;
                }
                h4{
                    font-size:18px;
                    margin-top:0px;
                }
            }
            .divider{
                width:20%;
                h3{
                    font-size:29px;
                    margin-top:0px;
                }
            }
            .map{
                width:40%;
                padding-left:15px;
                padding-right:15px;
                text-align:center;
                h3{
                    font-size:29px;
                    margin-top:0px;
                }
            }
        }
        
    }
    footer{
        background:$primary;
        text-align:center;
        color:#fff;
        font-size:14px;
    }
}