.container {
  margin: 0 auto;
  max-width: 1400px;
  padding-left: 15px;
  padding-right: 15px;
  width: 90%; }

body {
  font-family: 'Bree Serif', serif;
  margin: 0px; }
  body header {
    width: 100%;
    background: #212121;
    position: fixed;
    top: 0;
    left: 0;
    border: 4px solid #9900CC;
    height: 55px; }
    body header .container {
      height: 55px; }
      body header .container .leftheader, body header .container .rightheader {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
        height: 55px; }
      body header .container .leftheader {
        width: 60%;
        float: left; }
      body header .container .rightheader {
        width: 40%;
        float: right;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        -webkit-justify-content: flex-end;
        -moz-justify-content: flex-end;
        justify-content: flex-end; }
      body header .container nav {
        margin-left: 50px;
        height: 100%; }
        body header .container nav a {
          color: #fff;
          text-decoration: none;
          text-transform: uppercase;
          padding: 0px 15px;
          display: -webkit-inline-box;
          display: -webkit-inline-flex;
          display: -moz-inline-flex;
          display: -ms-inline-flexbox;
          display: inline-flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          -moz-align-items: center;
          align-items: center;
          height: 55px; }
          body header .container nav a:hover, body header .container nav a:active {
            background-color: #080808; }
      body header .container .phone, body header .container .directions {
        margin: 0px 8px; }
        body header .container .phone a, body header .container .directions a {
          color: #fff;
          text-decoration: none; }
          body header .container .phone a:hover, body header .container .directions a:hover {
            text-decoration: underline; }
  body .heroimage {
    background: url(../images/bannerphotos.jpg);
    background-size: cover;
    border: 4px solid #9900CC;
    border-top: none;
    margin-top: 60px;
    height: calc(100vh - 60px); }
    body .heroimage .herooverlay {
      width: 100%;
      height: 100%;
      background: rgba(11, 11, 11, 0.6); }
      body .heroimage .herooverlay .overlaybox {
        width: 65%;
        margin: 0 auto;
        color: #fff;
        text-align: center;
        padding: 2%; }
        body .heroimage .herooverlay .overlaybox h2 {
          font-size: 45px;
          margin-top: 0px; }
        body .heroimage .herooverlay .overlaybox h3 {
          font-size: 22px; }
        body .heroimage .herooverlay .overlaybox img {
          width: 60%; }
  body .menu {
    padding: 50px 0px; }
    body .menu .container img {
      width: 100%; }
  body .order {
    background: #212121;
    padding: 50px 0px;
    color: #fff;
    text-align: center; }
    body .order .flex {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex; }
      body .order .flex .form {
        width: 40%;
        padding-left: 15px;
        padding-right: 15px; }
        body .order .flex .form form {
          background: #EEEEEE; }
        body .order .flex .form h3 {
          font-size: 29px;
          margin: 0px; }
        body .order .flex .form h4 {
          font-size: 18px;
          margin-top: 0px; }
      body .order .flex .divider {
        width: 20%; }
        body .order .flex .divider h3 {
          font-size: 29px;
          margin-top: 0px; }
      body .order .flex .map {
        width: 40%;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center; }
        body .order .flex .map h3 {
          font-size: 29px;
          margin-top: 0px; }
  body footer {
    background: #212121;
    text-align: center;
    color: #fff;
    font-size: 14px; }
